body {
	background-color: lightgray;
	font-size:120%;
}
.row {
	border: 1px solid black;
}
.row > div {
	border: 2px solid red;
	background-color: gray;
}
/*.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
}*/